.centrado-esp{
	text-align: center;
    background-color: #646161;
    color: white;
	font-size: 25px;
   	height: 65px;   
   	padding: 10px 0;   
	font-family: monospace;
}

.dis-col{
 text-align: left;
   background-color:  	#A6A6A6;
   color: #F1F1F1;
}